@model IList<AspCoreGraficos.Models.Moeda>

<h4>Qual moeda utilizada?</h4>

<form asp-controller="Moeda" asp-action="EscolhaMoedas" method="post" class="form-group">
    @{
        for(int i = 0; i < Model.Count(); i++)
        {
            <input asp-for="@Model[i].CheckboxMarcado" type="checkbox" />
            <label asp-for="@Model[i].MoedaId"> @Model[i].Nome </label>
            <input asp-for="@Model[i].MoedaId" type="hidden" />
            <input asp-for="@Model[i].Nome" type="hidden" />
        }
    }
</form>

<hr/>